
#relativeIncludes {
	padding-left: 3px;
	padding-right: 3px;
}

prefwindow,
prefwindow:root /* override :root from above */ {
  -moz-binding: url("chrome://global/content/bindings/preferences.xml#prefwindow");
}

.pref-window:not(dialog):not(#prefWindow):not(#prefProjectsWindow) > vbox,
.pref-window:not(dialog):not(#prefWindow):not(#prefProjectsWindow) > hbox,
.pref-window:not(dialog):not(#prefWindow):not(#prefProjectsWindow) > box {
  padding: 10px;
}

prefwindow > prefpane {
	padding: 10px;
}

#workspace_left_area[type="icons"] tab[widget="relativeIncludesViewbox"] .tab-icon,
#workspace_right_area[type="icons"] tab[widget="relativeIncludesViewbox"] .tab-icon {
	width: 14px !important;
	height: 14px !important;
	visibility: visible !important;
	background-image: url('koicon://ko-svg/chrome/icomoon/skin/file-xml.svg') !important;
}

